In [1]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
#df1 = pd.read_csv("Summary File for Analysis.csv")
df1 = pd.read_csv('Summary File for Analysis.csv', index_col=0)
# df1.shape
df1.head()

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Factors,,,,,,,,,,,
GDPCA,15626.028999999999,15604.687,15208.833999999999,15598.753,15840.663999999999,16197.007,16495.369,16912.038,17403.843,17688.89,18108.082
"Highway, total","3,031,124","2,976,528","2,956,764","2,967,266","2,950,402","2,969,433","2,988,280","3,025,656","3,095,373","3,174,408","3,212,347"
Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year),21.3,21.8,21.7,21.5,21.4,21.5,21.6,21.4,22.0,22.0,22.3
PAACD,20.83,25.62,17.9,21.54,27.55,28.41,27.74,26.73,19.16,16.7,18.92
PAACB,28034208.0,26630325.0,25814788.0,26190308.0,25785221.0,25272366.0,25650321.0,26034264.0,26420723.0,26958202.0,27144978.0

In [12]:

df2 = df1.transpose()
# df10 = df2.rename(columns=df2.iloc[0])
# df15= df10.iloc[1:]
# df15.index.name = 'Year'
# df16 = df15.set_index(drop=True)
df2.head()

Factors,GDPCA,"Highway, total",Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year),PAACD,PAACB
2007,15626.028999999999,"3,031,124",21.3,20.83,28034208.0
2008,15604.687,"2,976,528",21.8,25.62,26630325.0
2009,15208.833999999999,"2,956,764",21.7,17.9,25814788.0
2010,15598.753,"2,967,266",21.5,21.54,26190308.0
2011,15840.663999999999,"2,950,402",21.4,27.55,25785221.0

In [13]:
df2['Highway, total'] = df2['Highway, total'].str.replace(',','')
df2.head()

Factors,GDPCA,"Highway, total",Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year),PAACD,PAACB
2007,15626.028999999999,3031124,21.3,20.83,28034208.0
2008,15604.687,2976528,21.8,25.62,26630325.0
2009,15208.833999999999,2956764,21.7,17.9,25814788.0
2010,15598.753,2967266,21.5,21.54,26190308.0
2011,15840.663999999999,2950402,21.4,27.55,25785221.0

In [5]:
df2.apply(pd.to_numeric)

Factors,GDPCA,"Highway, total",Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year),PAACD,PAACB
2007,15626.029,3031124,21.3,20.83,28034208.0
2008,15604.687,2976528,21.8,25.62,26630325.0
2009,15208.834,2956764,21.7,17.90,25814788.0
2010,15598.753,2967266,21.5,21.54,26190308.0
2011,15840.664,2950402,21.4,27.55,25785221.0
2012,16197.007,2969433,21.5,28.41,25272366.0
2013,16495.369,2988280,21.6,27.74,25650321.0
2014,16912.038,3025656,21.4,26.73,26034264.0
2015,17403.843,3095373,22.0,19.16,26420723.0
2016,17688.890,3174408,22.0,16.70,26958202.0
2017,18108.082,3212347,22.3,18.92,27144978.0

In [6]:
# df3=df2.astype('float').dtypes
#assing to a variable to save it 
#try pd.DataFrame(df2)
#could also try df.to_numeric()
#df2.head()

In [7]:
df2.rename(columns={'Factors':'Year', "GDPCA":'GDP', "Highway, total":'Total Miles', "Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year)":'MPG', "PAACD":'PAACD', "PAACB":'PAACB'}, inplace=True)
df2.head()

Factors                 GDP Total Miles   MPG  PAACD       PAACB
2007     15626.028999999999     3031124  21.3  20.83  28034208.0
2008              15604.687     2976528  21.8  25.62  26630325.0
2009     15208.833999999999     2956764  21.7   17.9  25814788.0
2010              15598.753     2967266  21.5  21.54  26190308.0
2011     15840.663999999999     2950402  21.4  27.55  25785221.0

In [8]:
#df3['Consumed TBTU'] = df2['Consumed TBTU']/ (1000)
# df2.dtypes
years = [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
df2['Year'] = years
df2.head()

Factors                 GDP Total Miles   MPG  PAACD       PAACB  Year
2007     15626.028999999999     3031124  21.3  20.83  28034208.0  2007
2008              15604.687     2976528  21.8  25.62  26630325.0  2008
2009     15208.833999999999     2956764  21.7   17.9  25814788.0  2009
2010              15598.753     2967266  21.5  21.54  26190308.0  2010
2011     15840.663999999999     2950402  21.4  27.55  25785221.0  2011

Consolidated Summary File with the following factors:
 - GDPCA (Real GDP)
 - Highway, total (annual miles)
 - Average U.S. light duty vehicle fuel efficiency (mpg) (calendar year)
 - PAACD (All petroleum products average price in the transportation sector; in dollars per million Btu)
 - PAACB (All petroleum products consumed by the transportation sector; in billion Btu)

In [9]:
df2.reset_index(drop=True, inplace=True)
df2
#del df2.index.name
#df2.head()

Factors                 GDP Total Miles    MPG  PAACD       PAACB  Year
0        15626.028999999999     3031124   21.3  20.83  28034208.0  2007
1                 15604.687     2976528   21.8  25.62  26630325.0  2008
2        15208.833999999999     2956764   21.7   17.9  25814788.0  2009
3                 15598.753     2967266   21.5  21.54  26190308.0  2010
4        15840.663999999999     2950402   21.4  27.55  25785221.0  2011
5                 16197.007     2969433   21.5  28.41  25272366.0  2012
6                 16495.369     2988280   21.6  27.74  25650321.0  2013
7                 16912.038     3025656   21.4  26.73  26034264.0  2014
8                 17403.843     3095373   22.0  19.16  26420723.0  2015
9                  17688.89     3174408  22.0    16.7  26958202.0  2016
10                18108.082     3212347   22.3  18.92  27144978.0  2017

In [10]:
df2.to_csv("Data_Clean",index=False)

In [11]:
file = pd.read_csv("Data_Clean")
file.head()

         GDP  Total Miles   MPG  PAACD       PAACB  Year
0  15626.029      3031124  21.3  20.83  28034208.0  2007
1  15604.687      2976528  21.8  25.62  26630325.0  2008
2  15208.834      2956764  21.7  17.90  25814788.0  2009
3  15598.753      2967266  21.5  21.54  26190308.0  2010
4  15840.664      2950402  21.4  27.55  25785221.0  2011